body{
  background-color: #222222;
}

#twitter-share{
  background:url(twitter.png) 0 0 no-repeat;
    display:block;
    height:200px; /* your image height */
    text-indent:-99999em;
     /* your image width */
    overflow:auto;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #222222;
    margin-top: 0%;
    margin-left: 30%;
    margin-right: 30%;
}

p {
	color: white;
}